<html>

<body>
    <h1><u>CREATE NEW AUTHOR</u></h1>
    <form action="/catalog/author/create/submit" method="post">
        <label>enter first name of the author</label>
        <input type="text" name="first_name" placeholder="first name"><br><br>
        <label>enter family name of the author</label>
        <input type="text" name="family_name" placeholder="family name"><br><br>
        <label>enter DOB of the author</label>
        <input type="date" name="date_of_birth" placeholder="date of birth"><br><br>
        <label>enter DOD of the author</label>
        <input type="date" name="date_of_death" placeholder="date of death"><br><br>
        <input type="submit">
    </form>
</body>

</html>