<html>

<body>
    <form action="/catalog/author/delete/submit" method="post">
        <label>enter the id of the author you want to delete</label>
        <input type="text" name="id" placeholder="author id ">
        <input type="submit">
    </form>
</body>

</html>