<html>

<body>
    <form action="create/submit" method="post">
        <label>create new genre</label>
        <input type="text" name="name" placeholder="fantasy,sci-fi,dark humour ....etc">
        <input type="submit">
    </form>
</body>

</html>