<html>

<body>
    <h1><u>DELETE GENRE</u></h1>
    <form action="/catalog/genre/delete/submit" method="post">
        <label>enter the id of the genre you want to delete</label>
        <input type="text" name="id" placeholder="genre id ">
        <input type="submit">
    </form>
</body>

</html>