<html>

<body style="background-color:black;color:white ">
    <h1 style="text-align:center;color:grey"><u>LOCAL LIBRARY</u></h1><br><br><br><br><br><br>
    <h2>

        <pre style="text-align:center"> AUTHOR     BOOKS     BOOKINSTANCES     GENRE </pre>

    </h2> <br><br><br>
    <h3><u>AUTHOR</u></h3>
    <h4>/authors</h4>
    <h4>/author/:id</h4>
    <h4>/author/create</h4>
    <h4>/author/delete</h4>
    <h4>/author/update</h4><br><br><br>


    <h3><u>BOOK</u></h3>
    <h4>/books</h4>
    <h4>/book/:id</h4>
    <h4>/book/create</h4>
    <h4>/book/delete</h4>
    <h4>/book/update</h4><br><br><br>


    <h3><u>BOOKINSTANCE</u></h3>
    <h4>/bookinstances</h4>
    <h4>/bookinstance/:id</h4>
    <h4>/bookinstance/create</h4>
    <h4>/bookinstance/delete</h4>
    <h4>/bookinstance/update</h4><br><br><br>


    <h3><u>GENRE</u></h3>
    <h4>/genres</h4>
    <h4>/genre/:id</h4>
    <h4>/genre/create</h4>
    <h4>/genre/delete</h4>
    <h4>/genre/update</h4>
</body>

</html>