<html>

<body style="background-color:black;color:white ">
    <h1 style="text-align:center;color:grey"><u>LOCAL LIBRARY</u></h1><br><br><br><br><br><br>
    <h2>

        <pre style="text-align:center"> AUTHOR     BOOKS     BOOKINSTANCES     GENRE </pre>

    </h2> <br><br><br>
    <h3><u>AUTHOR</u></h3>
    <h4> <a href="/catalog/authors">authors list</a></h4>
    <h4>/catalog/author/:id<p>enter the id of the author after , '/catalog/author' in the url to get specific author
            details</p>
    </h4>
    <h4> <a href="/catalog/author/create">add new author </a></h4>
    <h4> <a href="/catalog/author/delete">delete author</a></h4>
    <h4> <a href="/catalog/author/update">update author</a></h4>


    <h3><u>BOOK</u></h3>
    <h4><a href="/catalog/books">book list</a></h4>
    <h4>/book/:id<p>enter the id of the book after , '/catalog/book' in the url to get specific book details</p>
    </h4>
    <h4><a href="/catalog/book/create">add new book</a></h4>
    <h4><a href="/catalog/book/delete">delete book</a></h4>
    <h4><a href="/catalog/book/update">update book</a></h4><br><br><br>


    <h3><u>BOOKINSTANCE</u></h3>
    <h4><a href="/catalog/bookinstances">book instances</a></h4>
    <h4>/bookinstance/:id <p>enter the id of the genre after , '/catalog/genre' in the url to get specific bookinstance
            details
        </p>
    </h4>
    <h4><a href="/catalog/bookinstance/create">create new book instance</a></h4>
    <h4><a href="/catalog/bookinstance/delete">delete bookinstance</a></h4>
    <h4><a href="/catalog/bookinstance/update">update bookinstance</a></h4><br><br><br>


    <h3><u>GENRE</u></h3>
    <h4><a href="/catalog/genres">genres list</a></h4>
    <h4>/genre/:id <p>enter the id of the bookinstance after , '/catalog/bookinstance' in the url to get specific genre
            details
        </p>
    </h4>

    <h4><a href="/catalog/genre/create">add new genre</a></h4>
    <h4><a href="/catalog/genre/delete">delete genre</a></h4>
    <h4><a href="/catalog/genre/update">update genre</a></h4>
</body>

</html>